// Grays
$color-lite: #FFF;
$color-lightgray: #ECECEC;
$color-gray: #666;
$color-darkgray: #67707E;

// Blues
$color-blue: #46AAE8;
$color-darkblue: #0398DB;

// Reds
$color-red: red;

// UI
$color-body: #ECECEC;
