/* Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*
@font-face {
  font-family: 'SourceSansPro';
  src: url(../fonts/OpenSans.otf);
} */

/* Heading Styles */
$h-font: 'Open Sans', sans-serif;
$h-letter-spacing: 0.44px;
$h-line-height: 42px;
$h-weight: 400;
$h-size: 55px;

/* Paragraph Styles */
$p-font: 'Open Sans', sans-serif;
$p-letter-spacing: 0.44px;
$p-line-height: 23px;
$p-weight: 400;
$p-size: 16px;
