/* -------------- FooBar Component --------------
* BLOCK:
* .menu
* ELEMENT:
* MODIFIER:
* -------------- Variables -------------------
*/
.page {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}
